# Git
.git
.github

# Python
venv/
.pixi/
uv-cache/
__pycache__/
*.py[cod]
*.cfg
.pytest_cache/
.coverage
.cache
.pip/
pylock.toml

# IDE/OS
.idea/
.DS_Store
Thumbs.db

# Jupyter
**/*.ipynb_checkpoints/

# Data
data/
*.zip

# Docker
work/
**/work/

# Local development
artifacts/
dev/
*.log
*.bak
*.egg-info

# !Include core builds
!pyproject.toml 
!requirements.txt 
!README.md 
!LICENSE 
!CITATION.cff
!models/
!notebooks/
!notebooks/test/xgboost-baseline/*.json
!notebooks/test/keras
!notebooks/test/*.ipynb
!assets/
!binder/
!.dockerignore
