# Git 
.git
.gitignore

# Python 
__pycache__/
*.py[cod]
.pytest_cache/
.coverage
.cache
.pip/
uv-cache/

# IDE/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Checkpoints only
**/*.ipynb_checkpoints/

# Optional large data (if any)
data/    
# *.zip       

# Docker
!pyproject.toml
!requirements.txt
!README.md
