# Databases/Datasets
data/
*.zip
*.csv
*.db
*.sqlite
*.sqlite3

# Distribution/packaging
builder/
lib/
lib64/
lib64
*.egg
*.egg-info/
eggs/
.eggs/
dist/
build/
downloads/
develop-eggs/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
bin/
src/
.installed.cfg
*.cfg
MANIFEST

# Python
.Python
__pycache__/
.pytest_cache/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.npy
*.joblib
*.so

# Keras
*.keras

# SQLite 
*-journal
*-shm
*-wal
*.sqlite-journal
*.sqlite-shm
*.sqlite-wal

# Jupyter
.jupyter/
.ipynb_checkpoints/
jupyter_nbconvert_*/
*.jupyterlab-workspace
.jupyter/lab/workspaces/
.ipynb_checkpoints/
.ipynb_export/

# Virtual environments
venv/
.env/
.venv/
env/
ENV/

# Local development
*.bak
*.log
*.patch
*.joblib
*.yml~
*.py~
*.json
docs/
out/
prototype/
notebooks/eda/*
notebooks/test/*
notebooks/test/xgboost-base-test/
tools/

# Remote development
!.vscode/
!.devcontainer/
!.devcontainer.json
!settings.json
!notebooks/artifacts/
!notebooks/eda/EDA_Proposal_Start.ipynb
!notebooks/test/keras-test/
!notebooks/test/*.ipynb
!notebooks/index.ipynb

# Testing
.pytest_cache/
.tox/
.coverage
htmlcov/
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
nosetests.xml
nosetests-*.log
.pytest_cache/

# IDEs
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Security/Reports (optional)
# security-report.json 
# bandit-report.json

# Pixi
.pixi/*
!.pixi/config.toml
